:root {
    --color-primary: #272727;
    --color-secondary: #111111;
    --color-text: #e7e7e7;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
}

input,
select,
button {
    cursor: pointer;
    font: inherit;
    background-color: var(--color-text);
    border: none;
    border-radius: 3px;
    padding: 5px 8px;

    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 1);
}

h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 8px;

    background-color: var(--color-secondary);
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    user-select: none;
    cursor: pointer;
}

label:has(input[type="checkbox"]) {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
